<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layouts/Head :: head}"></head>
<body>
    <nav th:replace="~{layouts/Header :: header}"></nav>
    <div class="container-xxl d-flex justify-content-evenly" style="margin-top: 5vh">

        <div class="card" style="width: 18rem;">
            <img src="../images/AvatarMaker(4).png" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Rezept-Titel</h5>
                <p class="card-text">Obligatorischer text zum Beschreiben des Gerichts.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Zeitaufwand</li>
                <li class="list-group-item">Schwierigkeitsgrad</li>
                <li class="list-group-item">Ernährungsform</li>
            </ul>
        </div>


        <div class="card" style="width: 18rem;">
            <img src="../images/AvatarMaker(4).png" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Rezept-Titel</h5>
                <p class="card-text">Obligatorischer text zum Beschreiben des Gerichts.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Zeitaufwand</li>
                <li class="list-group-item">Schwierigkeitsgrad</li>
                <li class="list-group-item">Ernährungsform</li>
            </ul>
        </div>


        <div class="card" style="width: 18rem;">
            <img src="../images/AvatarMaker(4).png" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Rezept-Titel</h5>
                <p class="card-text">Obligatorischer text zum Beschreiben des Gerichts.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Zeitaufwand</li>
                <li class="list-group-item">Schwierigkeitsgrad</li>
                <li class="list-group-item">Ernährungsform</li>
            </ul>
        </div>
    </div>
    <footer th:replace="~{layouts/Footer :: page_Footer}"></footer>
</body>
</html>